.author {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 83px;

  @include tablet {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.author__info {
  position: relative;
  box-sizing: border-box;
  min-width: 290px;
  border: 3px solid $orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  margin-top: 140px;

  &::before {
    position: absolute;
    content: "";
    width: 185px;
    height: 239px;
    top: -145px;
    background-image: url("../img/photo.jpg");
    background-size: cover;

    @include tablet {
      width: 284px;
      height: 366px;
      top: 56px;
      left: -143px;
    }

    @include desktop {
      width: 369px;
      height: 476px;
      top: 60px;
      left: -184px;
    }
  }

  @include tablet {
    margin-top: 40px;
    margin-left: 140px;
    min-height: 496px;
    padding-left: 170px;
    align-items: flex-start;
  }

  @include desktop {
    margin-top: 52px;
    margin-left: 292px;
    margin-right: 100px;
    min-height: 600px;
    padding-left: 265px;
  }
}

.author__subtitle {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.09em;
  margin-top: -3px;

  @include tablet {
    text-align: left;
    margin-top: 25px;
  }

  @include desktop {
    margin-top: 21px;
    padding-right: 160px;
  }

  &--orange {
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $orange;
    margin-top: 15px;

    @include desktop {
      margin-top: 41px;
    }
  }
}

.author__title {
  font-size: 20px;
  line-height: 52px;
  letter-spacing: 0.05em;
  color: $white;
  text-transform: uppercase;
  margin-top: -23px;
  margin-bottom: 0;

  @include tablet {
    font-size: 28px;
    line-height: 52px;
  }

  @include desktop {
    font-size: 40px;
    line-height: 52px;
    margin-top: -11px;
  }
}

.author__text {
  text-align: center;
  margin-top: 22px;
  padding: 0 10px;
  letter-spacing: 0.05em;
  padding-bottom: 51px;

  @include tablet {
    text-align: left;
    padding: 0;
    margin-top: 6px;
  }

  @include desktop {
    margin-top: 37px;
    font-size: 18px;
    line-height: 24px;
    padding-right: 65px;
  }
}
