.bonus__title {
  font-family: $rregular;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0 20px;
  text-align: center;
  padding-top: 85px;

  @include tablet {
    font-size: 28px;
    line-height: 52px;
    padding-top: 47px;
  }

  @include desktop {
    font-size: 40px;
    line-height: 52px;
    margin-top: 56px;
    margin-left: 16px;
  }
}

.bonus__subtitle {
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.05em;
  margin-top: 29px;

  @include tablet {
    margin-top: 59px;
  }

  @include desktop {
    margin-top: 72px;
    font-size: 18px;
    margin-left: 13px;
  }

  &--orange {
    text-transform: uppercase;
    color: $orange;
    margin-top: -7px;

    @include tablet {
      margin-top: -18px;
    }

    @include desktop {
      font-size: 18px;
      margin-left: 10px;
      margin-top: -20px;
    }
  }
}

.bonus__form {
  margin-top: 40px;
  padding-bottom: 80px;

  @include tablet {
    margin-top: 50px;
    padding-bottom: 152px;
  }
}

.bonus {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 448px;
    height: 409px;
    top: 6px;
    left: calc(50% - 224px);
    background-image: url("../img/counter-bg.png");
    background-size: cover;
    background-clip: border-box;
    z-index: -1;

    @include tablet {
      width: 716px;
      height: 653px;
      left: calc(50% - 358px);
    }

    @include desktop {
      width: 822px;
      height: 817px;
      left: calc(50% - 411px);
      top: -106px;
    }
  }
}
