.counter {
  @include reset-list
  display: flex;
  justify-content: space-between;
}

.counter__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 11px;
  min-width: 65px;

  &::after {
    position: absolute;
    content: "";
    width: 65px;
    height: 1px;
    top: 39px;
    left: -0;
    background-color: rgba(255, 255, 255, 0.2);
  }

  &--active::after {
    background-color: $white;
  }

  &:not(:first-child)::before {
    position: absolute;
    content: ":";
    opacity: 0.2;
    font-size: 32px;
    top: 0;
    left: -10px;
  }
}

.counter__number {
  position: relative;
  font-family: $rregular;
  font-size: 32px;
  line-height: 28px;
  letter-spacing: 0.027em;
  padding-bottom: 20px;
  color: rgba(255, 255, 255, 0.2);

  &--active {
    color: $white;
  }
}

.counter__period {
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.027em;
  color: rgba(255, 255, 255, 0.2);

  &--active {
    color: $white;;
  }
}
