.features {
  padding: 40px 0;
  margin-bottom: 17px;
}

.features__list {
  @include reset-list;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    flex-direction: row;
    align-items: flex-start;
    padding-top: 55px
  }

  @include desktop {
    padding-left: 110px;
    padding-top: 166px;
  }
}

.features__item {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 213px;
  padding-top: 123px;

  &:last-child {
    padding-top: 128px;

    @include tablet {
      padding-top: 123px;
    }

    @include desktop {
      margin-right: 0;
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 115px;
    height: 71px;
    top: 25px;
    background-image: url("../img/1.png");
  }

  &:nth-child(2)::before {
    width: 67px;
    height: 67px;
    top: 28px;
    background-image: url("../img/3.png");
  }

  &:nth-child(3)::before {
    width: 68px;
    height: 61px;
    top: 36px;
    background-image: url("../img/2.png");
  }

  @include tablet {
    align-items: flex-start;
    width: 240px;
  }

  @include desktop {
    width: 205px;
    margin-right: 163px;
  }
}

.features__title {
  position: relative;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-family: $rregular;
  color: $white;

  @include desktop {
    font-size: 18px;
    line-height: 24px;

    &::before {
      content: "";
      position: absolute;
      width: 110px;
      height: 2px;
      top: 12px;
      left: -150px;
      background-color: #242930;
      opacity: 0.3;
    }
  }
}

.features__title::after {
  @include desktop {
    content: "";
    position: absolute;
    width: 110px;
    height: 2px;
    top: 12px;
    left: 200px;
    background-color: #242930;
    opacity: 0.3;
  }
}

.features__text {
  text-transform: lowercase;
  padding: 0 45px;
  text-align: center;
  margin-top: 8px;
  letter-spacing: 0.05em;
  line-height: 20px;

  @include tablet {
    text-align: left;
    padding-left: 0;
  }

  @include desktop {
    font-size: 18px;
    line-height: 24px;
    padding: 0;
    margin-top: 6px;
  }
}
