.form {
  @include tablet {
    align-self: flex-start;
    margin-top: 31px;
  }

  @include desktop {
    margin-top: 48px;
  }
}

.bonus__form {
  @include tablet {
    text-align: center;
  }
}

.form__input {
  box-sizing: border-box;
  min-width: 290px;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  text-align: center;
  padding: 12px;
  min-height: 45px;

  @include tablet {
    min-width: 212px;
    min-height: 54px;
  }

  @include desktop {
    min-width: 373px;
  }
}

.bonus__form .form__input {
  @include tablet {
    width: 374px;
  }
}

.form__button {
  box-sizing: border-box;
  min-width: 290px;
  border: none;
  background-color: $orange;
  text-align: center;
  padding: 13px;
  color: $white;
  letter-spacing: -0.02em;
  font-family: $rlight;
  min-height: 45px;

  &:hover {
    background-color: #f7a83a;
  }

  &:active {
    background-color: #db8000;
  }

  @include tablet {
    min-width: 196px;
    min-height: 54px;
    margin-left: -4px;
  }
}
