.profit {
  position: relative;
  margin-bottom: 50px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 2px;
    top: 0;
    left: 0;
    background-color: $orange;

    @include tablet {
      left: -64px;
    }

    @include desktop {
      top: 3px;
    }
  }

  &::after {
    top: 15px;
    left: 22px;

    @include tablet {
      top: 15px;
      left: -43px;
    }

    @include desktop {
      top: 18px;
    }
}

.profit__title {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  padding-top: 42px;
  margin-top: 0;
  margin-left: 5px;

  @include tablet {
    font-size: 28px;
    line-height: 36px;
    margin-left: 0;
    margin-top: 106px;
  }

  @include desktop {
    font-size: 40px;
    line-height: 52px;
    margin-right: 330px;
    margin-top: 131px;
  }
}

.profit__list {
  @include reset-list;

  counter-reset: myCounter;

  @include tablet {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 350px;
    margin-top: 43px;
    padding: 0 50px;
  }

  @include desktop {
    position: relative;
    padding: 0;
    flex-direction: row;
    font-size: 18px;
    line-height: 24px;
    flex-wrap: nowrap;
    padding-top: 500px;

    &::before {
      position: absolute;
      content: "";
      top: 38px;
      left: calc(50% - 934px);
      width: 1900px;
      height: 399px;
      background-size: cover;
      background-position: center;
      background-image: url("../img/lines.png");
    }
  }
}

.profit__item {
  position: relative;
  padding-left: 85px;
  padding-right: 5px;
  padding-top: 7px;
  margin-bottom: 29px;
  letter-spacing: 0.05em;

  @include tablet {
    box-sizing: border-box;
    width: 298px;
    padding-left: 73px;
    margin-bottom: 14px;
  }

  @include desktop {
    position: absolute;
    padding: 0;
    width: 225px;

    &:first-child {
      top: 177px;
      left: 13px;
    }

    &:nth-child(2) {
      top: 91px;
      left: 330px;
    }

    &:nth-child(3) {
      top: 189px;
      left: 539px;
      width: 200px;
    }

    &:nth-child(4) {
      top: 91px;
      left: 778px;
    }

    &:last-child {
      top: 56px;
      left: 1008px;
    }
  }

  &::before {
    position: absolute;
    counter-increment: myCounter;
    content: counter(myCounter);
    color: rgba(255, 255, 255, 0.05);
    top: 7px;
    left: 57px;
    text-align: center;
    font-family: $rregular;
    font-weight: 600;
    font-size: 72px;
    line-height: 52px;
    height: auto;
    width: auto;
    }
  }
}

.profit__text {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 6px solid #3c4147;
    top: -3px;
    left: -58px;
    background-color: $white;

    @include desktop {
      width: 21px;
      height: 21px;
      border: 9px solid #3c4147;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    top: 9px;
    left: -46px;
    background-color: #3c4147;

    @include desktop {
      width: 5px;
      height: 5px;
    }
  }
}

.profit__text--1 {
  @include desktop {
    &::before {
      top: 120px;
      left: -10px;
    }

    &::after {
      top: 137px;
      left: 7px;
    }
  }
}

.profit__text--2 {
  @include desktop {
    &::before {
      top: 122px;
      left: -19px;
    }

    &::after {
      top: 139px;
      left: -2px;
    }
  }
}

.profit__text--3 {
  @include desktop {
    &::before {
      top: 131px;
      left: -12px;
    }

    &::after {
      top: 148px;
      left: 5px;
    }
  }
}

.profit__text--4 {
  @include desktop {
    &::before {
      top: 111px;
      left: -8px;
    }

    &::after {
      top: 128px;
      left: 9px;
    }
  }
}

.profit__text--5 {
  @include desktop {
    &::before {
      top: 82px;
      left: -21px;
    }

    &::after {
      top: 99px;
      left: -4px;
    }
  }
}
