// <-------------------- Colors -------------------->
$black: #000000;
$dark: #0b1119;
$white: #ffffff;
$orange: #f99406;
$font: #bdbdbd;

// <-------------------- Fonts -------------------->
$rregular: "RobotoRegular", "Arial", sans-serif;
$rlight: "RobotoLight", "Arial Light", sans-serif;

// <-------------------- Viewport -------------------->
$mobile-width: 320px;
$mobile-paddings: 15px;
$tablet-width: 768px;
$tablet-paddings: 24px;
$desktop-width: 1498px;
$desktop-paddings: 179px;
